<header>
     <p><a href="/dashboard/workout">Workouts</a></p>
     <p><a href="/dashboard/gym">Gyms</a></p>
     <p><a href="/dashboard/workout/create">New workout</a></p>
     <p><a href="/dashboard/gym/create">Add gym</a></p>
     <p><a href="/dashboard/broadcast">Broadcast</a></p>
</header>
