<header>
     <p><a href="/dashboard/workout">Workouts list</a></p>
     <p><a href="/dashboard/workout/create">Add workout</a></p>
     <p><a href="/dashboard/gym">Gyms list</a></p>
     <p><a href="/dashboard/gym/create">Add gym</a></p>
     <p><a href="/dashboard/broadcast">Broadcast</a></p>
</header>
