<header>
     <h1> {{pageTitle}} </h1>
     <p><a href="/dashboard">Home</a></p>
     <p><a href="/dashboard/workout">Add Workout</a></p>
     <p><a href="/dashboard/broadcast">Broadcast</a></p>
</header>
