<header>
     <p><a href="/dashboard/">Home</a></p>
     <p><a href="/dashboard/workout/create">Add Workout</a></p>
     <p><a href="/dashboard/signup">Sign-up</a></p>
     <p><a href="/dashboard/login">Login</a></p>
</header>
