{
    "extends": "airbnb",
    "env": {
        "node": true,
        "es6": true,
        "mocha": true,
    },
    "rules": {
        "no-console": "off",
        "indent": "off",
        "no-tabs": "off",
        "no-underscore-dangle": "off",
        "func-names": "off",
        "prefer-arrow-callback": "off",
        "global-require": "off",
        "consistent-return": "off",
        "no-mixed-spaces-and-tabs": "off",
        "max-len": "warn",
        "comma-dangle": "warn",
        "arrow-body-style": "warn",
        "no-extra-semi": "warn",
        "no-unused-vars": [
            "warn",
            { "vars": "all", "args": "none" }
        ],
        "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
        "no-use-before-define": ["error", { "functions": false, "classes": true }],
    }
}
