<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> WonjiFit | Dashboard </title>
</head>

<body>
  {{> header}}

  <h3>Up-coming Workouts :</h3>

  <ul class="workout_list">
    {{#each workouts}}
      <li>
          <p><a href="/dashboard/workout/{{this._id}}">{{this.name}}</a></p>
      </li>
    {{/each}}
  </ul>

  <!-- {{> footer}} -->
</body>

</html>
