header {
    display: flex;
    background-color: #DDD;
}

header > p {
    padding: 10px;
}

body {
    padding: 20px;
    margin: 0px;
}

footer {
    bottom: 0;
    left: 0;
    position: fixed;
}
