header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: flex;
    background-color: #437ed3;
}

header > p {
    padding-left: 10px;
    padding-right: 10px;
}

header > p > a {
    color: white;
}

.currentTab {
    font-weight: bold;
    text-decoration: underline;
}

body {
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

button {
    color: white;
    background-color: #437ed3;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
}

button > a {
    color: white;
}

#remove {
    background-color: #FF0000;
}

footer {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: flex;
    background-color: #EEE;
}

footer > p {
    padding-left: 10px;
    padding-right: 10px;
}

footer > p > a {
    color: black;
}
