<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/main.css">
  <title> WonjiFit | Broadcast </title>
</head>

<body>
  {{> header}}

  <h3>Broacast a message</h3>

  {{> footer}}
  <script src="js/libs/jquery-3.3.1.min.js"></script>
  <script src="js/index.js"></script>
</body>

</html>
