{{> header}}

<h3> Up-coming Workouts </h3>

<ul id="workouts-list">
  {{#each workouts}}
    <li>
      <p><a href="/dashboard/workout/{{this._id}}">{{this.name}}</a></p>
    </li>
  {{/each}}
</ul>

{{> footer}}
<script type="text/javascript" src="js/libs/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
