{{> header}}

<h3> Sign Up </h3>

<form id="sign-up" action="/dashboard/signup" method="post">
  <p>
    <label for="email">Email : </label>
    <input type="email" id="email" name="signup-email" required>
  </p>
  <p>
    <label for="password">Password : </label>
    <input type="password" id="password" name="signup-email" required>
  </p>
  <p>
    <button type="submit">Validate</button>
  </p>
</form>

{{> footer}}
<script type="text/javascript" src="js/libs/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
