{{> header}}

<h1> Welcome ! </h3>

<p>
    <b>WonjiFit</b> is an event planner and a customer relationship management.
</p>
<p>
    Start by <a href="/dashboard/signup"><b>sign-up</b></a> below or <a href="/dashboard/login"><b>login</b></a> if you already have an account.
</p>
<p>
    <i>Contact : marc.louvion@gmail.com</i>
</p>
{{> footer}}
